# vscode settings folder
.vscode

# executable files
*.a
*.exe

# binary files
*.bin
*.hex

# crypto chalange binaries
crypto-flight

# trusted up binaries
hello_ta
ree_host_client

# build temp files
build/
obj/

